<head>
    <title>Martello's Murder Mystery</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>

<body>
    <div class="window">
        <img id="blood" src="../static/images/blood.png"></img>
        <div class="text">
            <label>Martello's</label><label id="murder">Murder</label><label>Mystery</label></div>
        <div class="buttons">
            <form action="/logs"><button type="submit">Logs</button></form>
            <form action="/animation"><button type="submit">Animation</button></form>
            <form action="/Results"><button type="submit">Our Results</button></form>
        </div>
    </div>
</body>