<head>
    <title>Logs</title>
    <link rel="stylesheet" href="../static/css/logs.css">
    <script src="../static/script.js"></script>
</head>

<body onload="insertBreaks('{{logs}}')">
    <div class="window">
        <a id="home"href="/">Exit</img></a>
        <a id="top" href="#Dave">Back to top</a>
        <div class="navbar">
            <a href="#Dave">Dave</a>
            <a href="#Thomas">Thomas</a>
            <a href="#Harrison">Harrison</a>
            <a href="#Rob">Rob</a>
            <a href="#Alok">Alok</a>
            <a href="#Kristina">Kristina</a>
            <a href="#Veronica">Veronica</a>
            <a href="#Eugene">Eugene</a>
            <a href="#Jason">Jason</a>
            <a href="#Marc-Andre">Marc-Andre</a>
            <a href="#Salina">Salina</a>
            <a href="#Unknown">Unknown</a>
        </div>
        <div class="logs">
            <div id="Dave"><label>Dave's Logs</label></div>
            <div id="Thomas"><label>Thomas' Logs</label></div>
            <div id="Harrison"><label>Harrison's Logs</label></div>
            <div id="Rob"><label>Rob's Logs</label></div>
            <div id="Alok"><label>Alok's Logs</label></div>
            <div id="Kristina"><label>Kristina's Logs</label></div>
            <div id="Veronica"><label>Veronica's Logs</label></div>
            <div id="Eugene"><label>Eugene's Logs</label></div>
            <div id="Jason"><label>Jason's Logs</label></div>
            <div id="Marc-Andre"><label>Marc-Andre's Logs</label></div>
            <div id="Salina"><label>Salina's Logs</label></div>
            <div id="Unknown"><label>Unknown Logs</label></div>
        </div>
    </div>
</body>